In [22]:
s="finish syllabus in twenty one days"
l=list()
words=s.split()
for w in words:
    l.append((len(w),w))
l.sort(reverse=True)
for (a,b) in l:
    print(b)

syllabus
twenty
finish
days
one
in

In [28]:
a=2
b=3
print('Before',a,b)
(a,b)=(b,a)
print('After',a,b)

Before 2 3
After 3 2

In [33]:
d={'Smg':34,'Bdvt':36,'Blore':29,'Delhi':42}
l=list()
for k,v in d.items():
    l.append((v,k))
l.sort()
for k,v in l:
    print(v,k)

Blore 29
Smg 34
Bdvt 36
Delhi 42

In [38]:
import string
fh=open('romeo-full.txt')
d=dict()
for line in fh:
    line=line.rstrip()
    line=line.lower()
    line=line.translate(line.maketrans('','',string.punctuation))
    words=line.split()
    for w in words:
        d[w]=d.get(w,0)+1
fh.close()
l=list()
for k,v in d.items():
    l.append((v,k))
l.sort(reverse=True)
for v,k in l[:10]:
    print(k,v)

i 61
and 42
romeo 40
to 34
the 34
thou 32
juliet 32
that 30
my 29
thee 24

In [40]:
d={("jnnce","cse"):490,("jnnce","ise"):450,("jnnce","mba"):250}
for k,v in d:
    print(k,v,d[k,v])

jnnce cse 490
jnnce ise 450
jnnce mba 250